
* {
  box-sizing: border-box;
}

.row::after {
  clear: both;
  display: table;
      width: 30vh;
   
}

[class*="col-"] {
  float: left;
  padding: 10px;
}
p.descrip{
    text-align: justify;

    font-size: 100%;
    width: 80%;
    margin: auto;
    color:#212529;
    background-color:rgba(225,225,225,0.8);
    padding: 2% 5%;
    border-radius: 20px;
    overflow: hidden;
}
p.descrip div button{

    margin-top:2%;
}
div.img_bullets {

    
  margin: auto;
        width: 80%;
        height:70vw;
        border-radius: 10vh;
    box-shadow: 1px 1px 14px rgba(0,0,0, 0.9);
}
#curso{
    background-image:url(../images/curso.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
#material{
    background-image:url(../images/libros.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
#actividad{
    background-image:url(../images/tarea.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
#guia{
    background-image:url(../images/guia.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.img_bullets{
    cursor: pointer;
}
#faqs{
    background-image:url(../images/faqs.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
#error{
    background-image:url(../images/error.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


.col-lg-3{
    background-image:url(../images/marg.png);
    background-repeat: no-repeat;
    background-size: 104%;
    background-position: center;
}




.space{
        margin-bottom: 15%;
}

.m-2 h1{
    font-family: "Bahnschrift Light", sans-serif;
    text-align: center;
}
.m-2 h2{
    font-weight: lighter;
    margin-left: 5%;
}
@media (min-width : 992px){
    div.img_bullets{ 
        width: 98%;
        margin: auto;
        height: 15.6vw;
        border-radius: 50%;
    }
    .col-lg-3:hover{
    transform: scale(1.05);
    transition: all 0.6s;
}

}
